# Internationalization (i18n) - OPTIONAL
# By default, the template uses English only (this file is not required)
# Uncomment and set to 'true' to enable multi-language support (English and Traditional Chinese)
# NEXT_PUBLIC_ENABLE_I18N=true
